<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Lucida+Sans+Unicode&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_main_user.css">
    <script src="/js/student.js"></script>
</head>
<body>

<div class="container">
    <button class="sign-out-btn" onclick="window.location.href='/login'">Sign Out</button>

    <section class="left-panel">
        <div class="subjects-header">
            <h2>Your Subjects</h2>
            <button id="add-subject-btn" class="add-subject-btn">
                <span class="add-subject-icon">+</span> Enroll
            </button>
        </div>
        <div id="enrollments-container">

        </div>
    </section>

    <section class="right-panel">
        <button id="toggle-info-btn" class="show-more-btn">Show More</button>
        <button id="edit-btn" class="edit-btn">Edit</button>
        <button id="cancel-btn" class="cancel-btn" style="display: none;">Cancel</button>
        <h2>User Information</h2>
        <div id="user-info">
            <p>First Name: <span id="studentFirstName">Loading...</span></p>
            <p>Last Name: <span id="studentLastName">Loading...</span></p>
            <p>Email: <span id="studentEmail">Loading...</span></p>
            <p>Phone: <span id="studentPhoneNumber">Loading...</span></p>
        </div>
        <div id="additional-info" style="display: none;">
            <p>PESEL Number: <span id="studentPESELNumber">Loading...</span></p>
            <p>Index Number: <span id="studentIndexNumber">Loading...</span></p>
            <p>Study Since: <span id="studentStudySince">Loading...</span></p>
            <p>Total ECTS: <span id="studentTotalECTS">Loading...</span></p>

            <div id="field-of-study-container" style="overflow-x: auto; white-space: nowrap; border: 1px solid #001451; padding: 10px; border-radius: 5px; background-color: #333333;">

            </div>
        </div>
        <p id="admin-note" style="display: none">The rest of the fields might be edited only by admin!&!</p>
    </section>

    <section class="courses-panel">

    </section>
</div>

</body>
</html>
